body {
  margin: 0;
  padding: 5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

main {
  text-align: center;
}

textarea {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 14px;
  line-height: 1.4;
  border: 1px dashed #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 70px 0 auto;
  max-width: 90dvw;
  height: calc(100dvh - 105px);
  caret-color: #3E95BA;
  background-color: white;
}

.viewarea {
  width: calc(100dvw - 10px);
  height: calc(100dvh - 10px);
  position: absolute;
  top: 5px;
}

button {
  margin: 0 15px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50px;
  color: grey;
  background-color: #f0f0f0;
  cursor: pointer;
}

.buttonContainer {
  z-index: 100;
  position: fixed;
  top: 10px;
  width: 100%;
}

*:focus {
  outline: none;
}

/* Modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.modal-content {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.95rem;
  line-height: 1.35;
  text-align: left;
  background-color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  width: 500px;
  max-width: 85dvw;
  max-height: 90dvh;
  overflow-y: auto;
  position: relative;
}

.modal-content p {
  margin: 0.8rem 0;
}

.modal-content h2 {
  margin: 1rem 0;
}

.modal-content ul {
  padding-left: 20px;
}

.modal-content li {
  margin-bottom: 10px;
}

.modal-content a {
  color: #3E95BA;
  text-decoration: none;
  font-weight: bold;
}

.modal-content i {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 50%;
  background-color: #f0f0f0;
}
